<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Url" value="https://www.edureka.co/">
</parameter> 
  <test thread-count="5" name="Test Chrome" parallel="classes">
  <parameter name="Browser" value="Chrome"/>
  <classes>
  <class name="com.qa.testscript.CourseSearch"/>
  </classes>
  </test>
  <test thread-count="5" name="Test Firefox" parallel="classes">
  <parameter name="Browser" value="Firefox"/>
   <classes>
       <class name="com.qa.testscript.CourseSearch"/>
     </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->

